<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Find My Stuff</title>
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<script
	src="https://code.jquery.com/jquery-3.2.1.js"
	integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
	crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Anonymous+Pro|Coming+Soon|Cutive+Mono|Indie+Flower|Nothing+You+Could+Do|Oxygen" rel="stylesheet">
</head>
<body>
	{{{ body }}}
</body>
</html>
