  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
        <p>User: {{this.email}}</p>
      </div>
    </div>
    <ul>
	  {{#each rooms}}
	  	<li>
	  	   <p>Name of room: {{this.name}}</p>
	  	</li>
	  {{/each}}
	</ul>
      <form id="room-form">
          Name: <input placeholder="Name" id="room-name" type="text" />
          Description: <input placeholder="Description" id="room-description" type="text" />
          <input id="user-id" type="hidden" value="{{this.id}}"/>

          <button type="submit" class="btn btn-success">Add Room</button>
      </form>
  </div>

  <script type="text/javascript" src="/assets/js/login/members.js"></script>


